<!-- Show loading message until product details are fetched -->
<div *ngIf="!productDetails">
  <div class="text-center my-5">
    <h4>Loading product details...</h4>
  </div>
</div>

<!-- Show content only when productDetails and its photos exist -->
<div class="container my-5" *ngIf="productDetails && productDetails.photos.length > 0">
  <div class="row">
    <!-- Left image area -->
    <div class="col-md-5">
      <div class="main-img">
        <lib-ngx-image-zoom
          [thumbImage]="'https://localhost:44375/' + mainimg"
          [fullImage]="'https://localhost:44375/' + mainimg"
          [magnification]="1.3"
          [enableScrollZoom]="true"
          [lensHeight]="175"
          [lensWidth]="175"
          [enableLens]="true"
        ></lib-ngx-image-zoom>

        <div class="row my-3 previews">
          @for (item of productDetails.photos; track item.id) {
            <div class="col-md-3">
              <img
                class="w-100"
                (click)="ReplaceImg(item.imgName)"
                [src]="'https://localhost:44375/' + item.imgName"
                alt="Sale"
              />
            </div>
          }
        </div>
      </div>
    </div>

    <!-- Right product description -->
    <div class="col-md-7">
      <div class="main-description px-2">
        <div class="category text-bold">
          Category: {{ productDetails.categoryName }}
        </div>
        <div class="product-title text-bold my-3">
          {{ productDetails.name }}
        </div>

        <!-- Pricing -->
        <div class="price-area my-4">
          <p class="old-price mb-1">
            <del>{{ productDetails.oldPrice | currency }}</del>
            <span class="old-price-discount text-danger">
              (
              {{
                ((productDetails.oldPrice - productDetails.newPrice) /
                  productDetails.oldPrice) *
                  100
                  | number: '1.0-0'
              }}% OFF)
            </span>
          </p>

          <p class="new-price text-bold mb-1">
            {{ productDetails.newPrice | currency }}
          </p>
          <p class="text-danger">quantity : 1</p>

          <div>
            <button class="btn btn-danger text-white">
              <i class="fa fa-minus"></i>
            </button>
            &nbsp;
            <button class="btn btn-dark text-white">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>

        <!-- Action buttons -->
        <div class="buttons d-flex my-5">
          <div class="block pt-2">
            <a href="#" class="shadow btn custom-btn">
              <i class="fa fa-heart"></i> Wishlist
            </a>
          </div>
          <div class="block pt-2">
            <button class="shadow btn custom-btn">
              <i class="fa fa-shopping-cart"></i> Add to cart
            </button>
          </div>
          <div class="block pt-2">
            <button class="shadow btn custom-btn">
              <i class="fa fa-shopping-bag"></i> Shopping
            </button>
          </div>
          <div class="block quantity">
            <input
              type="number"
              class="form-control"
              id="cart_quantity"
              value="1"
              min="0"
              max="5"
              placeholder="Enter quantity"
              name="cart_quantity"
            />
          </div>
        </div>

        <!-- Product details -->
        <div class="product-details my-4">
          <p class="details-title text-color mb-1">Product Details</p>
          <p class="description">{{ productDetails.description }}..... </p>
        </div>

        <!-- Questions -->
        <div class="row questions bg-light p-3">
          <div class="col-md-1 icon">
            <i class="fa-brands fa-rocketchat questions-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
