<section class="pt-5">
  <div class="form-container">
    <h2 class="text-center">Reset Password</h2>
    <form [formGroup]="formgroup" (ngSubmit)="Submit()">
      
      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password"
          [class.is-valid]="_password?.valid"
          [class.is-invalid]="_password?.invalid && _password?.touched">

        @if (_password?.hasError('required')) {
          <span class="text-danger">Password is required</span>
        } @else if (_password?.hasError('pattern')) {
          <span class="text-danger">
            Password must contain at least one uppercase, one lowercase, one number,
            one special character (!%*?&), and be at least 8 characters long.
          </span>
        }
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword"
          [class.is-valid]="_confirmPassword?.valid"
          [class.is-invalid]="_confirmPassword?.invalid && _confirmPassword?.touched">

        @if (_confirmPassword?.hasError('required')) {
          <span class="text-danger">Confirm password is required</span>
        } @else if (_confirmPassword?.hasError('pattern')) {
          <span class="text-danger">
            Password must contain at least one uppercase, one lowercase, one number,
            one special character (!%*?&), and be at least 8 characters long.
          </span>
        } @else if (_confirmPassword?.hasError('mismatch')) {
          <span class="text-danger">Password and Confirm Password do not match.</span>
        }
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <button class="btn btn-info w-100" [disabled]="formgroup.invalid">
          Save Change <i class="fa fa-sign-in"></i>
        </button>
      </div>
    </form>
  </div>
</section>
